# Application
APP_NAME=service-provider
ENVIRONMENT=development
PORT=8001
GRAPHIQL=true

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=databasename
DB_DIALECT=postgres
DB_PORT=5432

# AWS COGNITO
AWS_COGNITO_USER_POOL_CLIENT_ID=
AWS_COGNITO_USER_POOL_ID=   
AWS_COGNITO_REGION=
AWS_COGNITO_ACCESS_KEY_ID=
AWS_COGNITO_SECRET_ACCESS_KEY=

# S3 Bucket
AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_NAME_ASSET=
AWS_S3_BUCKET_REGION=
AWS_S3_BUCKET_REGION_ASSET=
AWS_S3_BUCKET_ACCESS_KEY=
AWS_S3_BUCKET_ACCESS_SECRET=

#Providers
FACEBOOK_BASE_URL=https://graph.facebook.com